<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.6.0.js"></script>
	<script src="~/Scripts/umd/popper.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
	<div class="container-fluid">
		<h1>About</h1>
		<p>This webpage was created by Joshua Willis on November 26th, 2021. Thank you for viewing!</p>
	</div>
</body>
</html>
