
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.6.0.js"></script>
	<script src="~/Scripts/umd/popper.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Username</span>
			</div>
			<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Password</span>
			</div>
			<input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" />
		</div>
	</div>
</body>
</html>
